@media ( min-width: 500px ) and (max-width: 850px ){
	[class *= "col-"] {
		width: 100%;
	}
	
	.cover {
		background-image: url(../img/night.jpg);
		width: 500px;
		height: 500px;
	}
	
	img {
		content: url(../img/kitten-small.png);
	}
}

@media ( min-width: 200px ) and (max-width: 499px ){
	[class *= "col-"] {
		width: 100%;
	}
	
	.cover {
		background-image: url(../img/sunny-day.jpg);
		width: 499px;
		height: 300px;
	}
	
	img {
		content: url(../img/kitten-medium.png);
		width: 50%;
	}
}